input {
    keyboard {
        xkb {
            options "ctrl:nocaps"
        }

        numlock
    }

    touchpad {
        tap
        natural-scroll
        accel-speed 0.3
        accel-profile "adaptive"
    }
}

output "HDMI-A-1" { 
    mode "1920x1080@60.000"
    scale 1.0
    position x=-192 y=-1080
}
output "eDP-1" {
    mode "1920x1080@60.000"
    scale 1.25
    position x=0 y=0 
}

layout {
    gaps 0
    center-focused-column "never"
    always-center-single-column
    empty-workspace-above-first

    preset-column-widths {
        proportion 0.5
        proportion 0.9
    }

    default-column-width { proportion 0.5; }

    border {
        width 2
    }
}

spawn-at-startup "qs" "-c" "noctalia-shell"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "gnome-keyring-daemon" "--start" "--components=secrets"

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd true
screenshot-path "~/pictures/screenshots/screenshot-%Y%m%d-%H%M%S.png"

window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
}

workspace "1" {
    open-on-output "HDMI-A-1"
}
workspace "2" {
    open-on-output "eDP-1"
}
workspace "3" {
    open-on-output "eDP-1"
}
workspace "4" {
    open-on-output "eDP-1"
}

window-rule {
    match app-id="(?i)zen|firefox"
    open-on-workspace "1"
    default-column-width { proportion 1.0; }
}
window-rule {
    match app-id="(?i)zen|firefox" title="(?i)bitwarden|^Picture-in-Picture$"
    open-floating true
}
window-rule {
    match app-id="(?i)ghostty"
    open-on-workspace "2"
    default-column-width { proportion 1.0; }
}
window-rule {
    match app-id="(?i)slack"
    open-on-workspace "3"
    default-column-width { proportion 1.0; }
}
window-rule {
    match app-id="(?i)spotify"
    open-on-workspace "4"
    default-column-width { proportion 1.0; }
}

binds {
    Mod+T hotkey-overlay-title="Open a Terminal: ghostty" { spawn "ghostty"; }
    Mod+D hotkey-overlay-title="Run an Application: fuzzel" { spawn "fuzzel"; }
    Ctrl+Alt+L hotkey-overlay-title="Lock the Screen" { spawn "qs" "ipc" "-c" "noctalia-shell" "call" "lockScreen" "lock"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    Mod+O repeat=false { toggle-overview; }
    Mod+Q repeat=false { close-window; }

    Mod+H           { focus-column-left; }
    Mod+L           { focus-column-right; }
    Mod+Shift+H     { move-column-left; }
    Mod+Shift+L     { move-column-right; }

    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+Shift+J     { move-window-down-or-to-workspace-down; }
    Mod+Shift+K     { move-window-up-or-to-workspace-up; }

    Mod+I   { focus-monitor-up; }
    Mod+U   { focus-monitor-down; }
    Mod+Shift+I {move-column-to-monitor-up; }
    Mod+Shift+U {move-column-to-monitor-down; }

    Mod+Shift+Ctrl+I { move-workspace-to-monitor-up; }
    Mod+Shift+Ctrl+U { move-workspace-to-monitor-down; }

    Mod+1 { focus-workspace "1"; }
    Mod+2 { focus-workspace "2"; }
    Mod+3 { focus-workspace "3"; }
    Mod+4 { focus-workspace "4"; }
    Mod+Shift+1 { move-column-to-workspace "1"; }
    Mod+Shift+2 { move-column-to-workspace "2"; }
    Mod+Shift+3 { move-column-to-workspace "3"; }
    Mod+Shift+4 { move-column-to-workspace "4"; }

    Mod+Shift+Ctrl+J    { move-workspace-down; }
    Mod+Shift+Ctrl+K    { move-workspace-up; }
   
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+C { center-column; }
    Mod+Ctrl+C { center-visible-columns; }
    
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Mod+W { toggle-column-tabbed-display; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }
    
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }
}

include "./noctalia.kdl"
